body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #543310, #f8f4e1);
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: glowIn 1s infinite alternate;
}

@keyframes glowIn {
  from {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 0 0 20px #af8f6f, 0 0 30px #a67b5b, 0 0 40px #74512d;
  }
}

h1 {
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
}

textarea {
  width: 500px;
  height: 300px;
  margin: 10px auto;
  display: block;
  font-size: 24px;
  padding: 20px;
  color: rgb(0, 0, 0);
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  padding: 15px 30px;
  background-color: #f8f4e1;
  width: 500px;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #af8f6f;
}

#result {
  font-size: 20px;
  margin-top: 20px;
  color: #000;
  font-weight: bold;
  animation: glowIn 1s infinite alternate;
}
